//- Alpine User Card Template
div(
class="lg:p-8",
x-data="alpineInstance()",
x-init="fetch('https://jsonplaceholder.typicode.com/users')\
    .then(response => response.json())\
    .then(data => users = data)"
)
h1(x-text="title")
p(x-html="intro")

.columns
    // begin: user card
    template(x-for="user in users", :key="user.id")
    .column.is-third
        .highlight.cursor-pointer(style="--my:5px; --levitate:4;--levitate-hvr:8; --br:0.4rem")
        .card(style="--px:1rem")
            h4.truncate(x-text="user.name")
            h6.truncate.uppercase(x-text="user.company.name")
            div(x-text="user.phone")
            a.text-blue-600.mr-4.block(
            class="hover:text-blue-700",
            x-bind:href="'mailto:' + user.email",
            x-text="user.email"
            )
            a.text-blue-600.block(
            class="hover:text-blue-700",
            x-bind:href="'https://' + user.website",
            x-text="user.website"
            )
    // end: user card