mixin youtube(embed, title='YouTube Video')
    .column.--text-centered.video-wrapper
        h1= title
        iframe(src=embed title=title 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen)           